/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #10101c;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.hero {
    text-align: center;
    padding: 100px 0;
    background-color: aqua;
    
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f26722;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #d84c0a;
}

section {
    padding: 40px;
    text-align: center;
}

h2 {
    color: #333;
}

.menu-item {
    display: inline-block;
    padding: 20px;
    text-align: center;
    background-color: antiquewhite;
}

.menu-item img {
    max-width: 100%;
    height: auto;
}

.price {
    color: #f26722;
    font-weight: bold;
}

.about{
    background-color: aqua;
}
.contact{
    background-color: rgb(159, 192, 220);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}